<!DOCTYPE html>
<html lang="en">
<head>
  <%# <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff"> %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<style>
  
  body {
    margin: 0px;
  }

  #map {
    width: 100vw;
    height: 100vh;
  }
</style>
<body>
  <div id="map" class="map"></div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=<%=kakao.appkey%>&libraries=services"></script>

<script>

var container = document.getElementById('map');
var options = {
  center: new kakao.maps.LatLng(<%=kakao.lat%>, <%=kakao.lng%>),
  level: 3
};

var map = new kakao.maps.Map(container, options);

var markerPosition  = new kakao.maps.LatLng(<%=kakao.lat%>, <%=kakao.lng%>); 

var marker = new kakao.maps.Marker({
    position: markerPosition
});

marker.setMap(map);

var places = new kakao.maps.services.Places();

var array = []

var callback = function(result, status, pagination) {
    if (status === kakao.maps.services.Status.OK) {

      for (var i = 0; i < result.length; i++) {
        array.push(result[i])
      }

      if(pagination.hasNextPage) {
        pagination.nextPage()
      } else {
        searchFinish()
      }

    }
};

places.keywordSearch('연남동 점심', callback);


const searchFinish = () => {
    var html = "INSERT INTO `restaurant` (`name`, `floor`, `introduction`, `lat`, `lng`, `address`, `address_road`, `category_id`) VALUES"
    // let html = "INSERT INTO `restaurant` (`id`, `name`, `floor`, `introduction`, `lat`, `lng`, `address`, `address_road`, `category_id`)\
    //             VALUES\
    //             (1, '진짜파스타', 0, NULL, 37.5502, 126.923, '서울 마포구 상수동 86-22', '서울 마포구 와우산로 64', 4);"
    
    for (var i = 0; i < array.length; i++) {
        console.log(array[i])
        console.log(categoryId(array[i].category_name))

        if(categoryId(array[i].category_name) != undefined) {
            html += "('"+array[i].place_name+"', 0, '"+array[i].place_url+"', '"+array[i].y+"', '"+array[i].x+"', '"+array[i].address_name+"', '"+array[i].road_address_name+"', '"+categoryId(array[i].category_name)+"'),"
        }
    }

    console.log(html)
}

const categoryId = (value) => {
    if(value.includes("양식")) {
        return "4"
    } else if(value.includes("일식")) {
        return "3"
    } else if(value.includes("중식")) {
        return "2"
    } else if(value.includes("카페")) {
        return "7"
    } else if(value.includes("분식")) {
        return "5"
    } else if(value.includes("한식")) {
        return "1"
    } else if(value.includes("간식")) {
        return "8"
    } else if(value.includes("뷔페")) {
        return "1"
    }
}

</script>
</body>
</html>