<!DOCTYPE html>
<html lang="en">
<head>
  <%# <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff"> %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<style>

    body {
        margin: 0px;
    }

    #map {
        width: 100vw;
        height: 100vh;
    }

    .label {
        width: 15px;
        height: 15px;
        border-radius: 50%;
    }

    .b-blue {
        background: blue;
    }

    .b-red {
        background: red;
    }

    .b-white {
        background: white;
    }

    .b-black {
        background: black;
    }

    .b-pink {
        background: pink;
    }

    .b-yellow {
        background: yellow;
    }

    .b-brown {
        background: brown;
    }

    .b-purple {
        background: purple;
    }

    .b-green {
        background: green;
    }

    .b-orange {
        background: orange;
    }
</style>

<body>
  <div id="map" class="map"></div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=<%=kakao.appkey%>&libraries=services,clusterer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>

let container,
    options,
    map,
    markerPosition,
    marker,
    customOverlayArray

container = document.getElementById('map');
options = {center: new kakao.maps.LatLng(<%=kakao.lat%>, <%=kakao.lng%>),level: 3};

$(document).ready(function () {

    map = new kakao.maps.Map(container, options);

    markerPosition  = new kakao.maps.LatLng(<%=kakao.lat%>, <%=kakao.lng%>); 

    marker = new kakao.maps.Marker({
        position: markerPosition
    });

    marker.setMap(map);

  $.ajax({
    type : 'get',
    url : '/restaurant_point',
    dataType : 'json',
    beforeSend : function(xhr){
        xhr.setRequestHeader("x-access-token", "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwiYWxpYXMiOiLthYzsmKQiLCJpYXQiOjE1NjYzNTg4NDIsImV4cCI6MTU2NzU2ODQ0MiwiaXNzIjoidGhlby5raW1AdHJpcGxsbGV0LmNvbSIsInN1YiI6InVzZXJJbmZvIn0.irPcb8_iy4YmX1QdpUUcGnbNAStM8PkXxkOf-eX4bQg");
    },
    success : function(response){
        customOverlayArray = $(response).map(function(i, data) {
            return new kakao.maps.CustomOverlay({
                position: new kakao.maps.LatLng(data.lat, data.lng),
                content: categoryColor(data.category_id)   
            });
        });

        for (var i = 0; i < customOverlayArray.length; i++) {
            customOverlayArray[i].setMap(map);
        }

    },
    error: function(xhr, status, error){
        console.log(xhr)
        console.log(status)
        console.log(err)
    }
  });

})

const categoryColor = (category)=> {
    switch (category) {
        case 1:
            return '<div class ="label b-blue"></div>'
        break;
        case 2:
            return '<div class ="label b-red"></div>'
        break;
        case 3:
            return '<div class ="label b-white"></div>'
        break;
        case 4:
            return '<div class ="label b-black"></div>'
        break;
        case 5:
            return '<div class ="label b-pink"></div>'
        break;
        case 6:
            return '<div class ="label b-yellow"></div>'
        break;
        case 7:
            return '<div class ="label b-brown"></div>'
        break;
        case 8:
            return '<div class ="label b-purple"></div>'
        break;
        case 9:
            return '<div class ="label b-green"></div>'
        break;
        case 10:
            return '<div class ="label b-orange"></div>'
        break;
            
    }
}



</script>
</body>
</html>